@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-btn {
  @apply rounded-full px-5 py-2 font-bold border-2;
}
.has-scroll-dark {
  @apply bg-slate-50 fixed py-2 !important;
}
.has-scroll-light {
  @apply bg-slate-900 fixed py-2 !important;
}
.menu-modal{
  @apply transition-all duration-500 ease-in-out -left-[101vw];
}
.menu-modal.active{
  @apply left-0;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.hmtl-container{
    h1{
        @apply font-bold text-slate-900 text-4xl my-6;
    }
    h2{
        @apply font-bold text-slate-900 text-3xl my-6;
    }
    h3{
        @apply font-bold text-slate-900 text-2xl my-6;
    }
    h4{
        @apply font-bold text-slate-900 text-xl my-6;
    }
    img {
        @apply rounded-lg my-4;
    }
    h5 {
        @apply font-medium text-slate-700 text-sm my-4;
    }
    h6 {
        @apply font-medium text-slate-600 text-sm my-4;
    }
    p {
        @apply font-light text-slate-800 text-lg my-1;
    }
    hr{
        @apply border-slate-300 my-4;
    }
}
